.mark{
    margin: 0 auto;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__button{
        width: 160px;
        height: 48px;
        background: #FBAF85;
    }
    &__aside{
        height: 560px;
        justify-content: center;
        align-items: center;
         background: #F1F1F1;
        border-radius: 8px;
        // border: 1px solid;
        width: 540px;
    }
    &__bside{
        justify-content: left;
        flex-direction: column;
        height: 560px;
        width: 540px;
        // border: 1px solid;
        align-items: center;
    }
    &__main{
        margin-top: 150px;
        margin-left: 50px;
    }
    &__image{
        height: 386px;
        width: 349.24px;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        margin-top: 80px;
    }
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 1.42857px;
        text-transform: uppercase;
        color: #000000;
        font-family: 'Manrope';
        height: 88px;
        width: 445px;
    }
    &__p{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: #D87D4A;
        font-family: 'Manrope';

    }
    &__about{
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #000000;
        width: 445px;
        height: 100px;
        mix-blend-mode: normal;
        opacity: 0.5;
        font-family: 'Manrope';
    }
    
}
@media screen and (max-width: 768px){
    .mark{
        max-width: 100%;
       &__wrapper{
        display: inline-block;
       }
       &__bside{
        text-align: center;
        width: 689px;
height: 352px;
       }
       &__aside{
        max-width: 100%;
        height: 352px;
        width: 689px;
        align-items: center;
        justify-content: center;
        text-align: center;
       }
      &__image{
          height: 243px;
          width: 220px;
      }
       
        

       }
    }
